<nav class="navbar navbar-dark navbar-expand-lg">
  <!-- <a class="navbar-brand" href="#">Burs Beers</a> PUT LOGO HERE -->
  <!-- Justify Navbar -->
  <div class="container-fluid d-flex justify-content-between">
    <ul class="navbar-nav">
      <li class="navbar-item">
        <img src="../assets/beerlogo.jpeg" height=50>
        <a class="navbar-brand"> Enchanted Beers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="category-ale">Ale</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="category-stout">Stouts</a>
      </li>
    </ul>
    <ul class="navbar-nav">

      <li class="nav-item ml-auto">
        <a class="nav-link" routerLink="cart"><i class="fa fa-shopping-basket"></i> Cart</a>
      </li>
      <li class="nav-item ml-auto">
        <a class="nav-link ml-auto" routerLink="login">Login/Sign Up</a>
      </li>
      <li class="nav-item ml-auto">
        <a class="nav-link" routerLink="profile">User profile</a>
      </li>
    </ul>