<nav class="navbar navbar-dark navbar-expand-lg">
    <!-- <a class="navbar-brand" href="#">Burs Beers</a> PUT LOGO HERE -->
    <!-- Justify Navbar -->  <div class = "container-fluid d-flex justify-content-between">
    <ul class="navbar-nav">
        <li class = "navbar-item">
            <img src="../assets/beerlogo.jpeg" height=50>
            <a class = "navbar-brand"> Enchanted Beers</a>
        </li>
        <li class="nav-item" > 
            <a class="nav-link" routerLink="">Home</a>
        </li>  
        <li class="nav-item" >
            <a class="nav-link" routerLink="category-ale">Ale</a>
        </li>  
        <li class="nav-item" >
            <a class="nav-link" routerLink="category-stout">Stouts</a>
        </li>  
        <li class="nav-item" >
            <a class="nav-link" routerLink="login">Login</a>
        </li>  
        <li class="nav-item" >
            <a class="nav-link" routerLink="profile">User profile</a>
        </li>  
        <li class="nav-item" >
            <a class="nav-link" routerLink="cart">Cart</a> <!--Favicon needs to be installed cart icon-->
        </li>  
    </ul>

  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link" routerLink="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="category-ale">Ale</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="category-stout">Stouts</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" routerLink="login">Login</a>
  </li>
  <li class="nav-item" >
      <a class="nav-link" routerLink="profile">User profile</a>
  </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="cart">Cart</a>
      <!--Favicon needs to be installed cart icon-->
    </li>
  </ul>

  <div>
    <ng-container>
<div class="row">
      <a [routerLink]="['/profile']" class="nav-link">
        Register
      </a>

      <a [routerLink]="['/login']" class="nav-link">
        Login
      </a>
    </div>
    </ng-container>

  </div>

</nav>
