img {
    border-style: dashed;
    border-radius: 1em;
    margin: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    text-align: center;
    color: rgb(250, 19, 200);
}