<!-- <p>home works!</p> -->
<!--<br><br>
<h1>WELCOME ENCHANTED ENGINEERS</h1>

<img src="../assets/home.jpg">-->
<!--<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="./assets/beer.jpg" class="d-block w-30 " style="height: 450px " alt="great beer ">
      </div>
      <div class="carousel-item active">
        <img src="../assets/beers.jpg" class="d-block w-30" alt="your home">
      </div>
      <div class="carousel-item ">
        <img src="../assets/home.jpg" class="d-block w-30" alt="...">
      </div>
    </div>
  </div>-->
  <!-- Calling jquery first -->
<div style="width: 500px; height: 500px;">
    <carousel [noWrap]="noWrapSlides" [showIndicators]="showIndicator">
       <slide *ngFor="let slide of slides; let index=index">
          <img [src]="slide.image" alt="image slide" style="display: block; width: 60%;">
          <div class="carousel-caption">
             <h4>Slide {{index}}</h4>
             <p>{{slide.text}}</p>
          </div>
       </slide>
    </carousel>
    <br/>
    <div>
       <div class="checkbox">
          <label><input type="checkbox" [(ngModel)]="noWrapSlides">Disable Slide Looping</label>
          <label><input type="checkbox" [(ngModel)]="showIndicator">Enable Indicator</label>
       </div>
    </div>
 </div>