<div class="container">

    
  <div class="row">
      <div class="col-lg-4" *ngFor="let ps of product" >
          <div class="a-section a-spacing-mini _p13n-zg-list-carousel-desktop_maskStyle_noop__3Xbw5" >
              <img src="{{ps.image}}" alt="image of ale" onerror="this.src='https://www.totalwine.com/media/sys_master/twmmedia/h0a/h17/11589987434526.png'">
              <div class="name">{{ps.name}}</div>
              <div class="price">{{ps.price}}</div>
              <button (click)="getSingleProduct(ps.id)">View Product</button>
              </div>

      </div>
  </div>

</div>

