
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
*.index
.metadata/.plugins/org.eclipse.core.resources/.projects/project2/.markers
*.snap
*.tree
*.resources
*.snap
