<!-- <section>
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-8 col-xl-6">
        <div class="row">
          <div class="col text-center">
            <h1>Register</h1>
            <p class="text-h3">Register for an Enchanted Stores Account Below</p>
          </div>
        </div> -->
        <!-- Username -->
        <!-- <div class="row align-items-center">
          <div class="col mt-4">
            <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username">
          </div>
        </div> -->
        <!-- Password -->
        <!-- <div class="row align-items-center mt-4">
          <div class="col">
            <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
          </div>
        </div> -->
        <!-- Email -->
        <!-- <div class="row align-items-center mt-4">
          <div class="col">
            <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email_address">
          </div>
        </div> -->
        <!-- First name -->
        <!-- <div class="row align-items-center mt-4">
          <div class="col">
            <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="first_name">
          </div>
        </div> -->
        <!-- Last name -->
        <!-- <div class="row align-items-center mt-4">
          <div class="col">
            <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="last_name">
          </div>
        </div> -->
        <!-- Address  -->
        <!-- <div class="row align-items-center mt-4">
          <div class="col">
            <input type="text" class="form-control" placeholder="Street Address" [(ngModel)]="address.address_1">
          </div>
        </div> -->
        <!-- city -->
        <!-- <div class="row align-items-center mt-4">
          <div class="col">
            <input type="text" class="form-control" placeholder="City" [(ngModel)]="address.city">
          </div>
        </div> -->
        <!-- state -->
        <!-- <div class="row align-items-center mt-4">
          <div class="col">
            <input type="text" class="form-control" placeholder="State" [(ngModel)]="address.state"> -->
            <!--Change to dropdown if time-->
          <!-- </div>
        </div> -->
        <!-- country -->
        <!-- <div class="row align-items-center mt-4">
          <div class="col">
            <input type="text" class="form-control" placeholder="Country" [(ngModel)]="address.country">
          </div>
        </div> -->
        <!-- postal code -->
        <!-- <div class="row align-items-center mt-4">
          <div class="col">
            <input type="text" class="form-control" placeholder="Zip Code" [(ngModel)]="address.postal_code">
          </div>
        </div>
        <div class="row justify-content-start mt-4">
          <div class="col">
            <button class="btn btn-primary mt-4" (click)="Register()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
      <div class="col-md-8 border-right">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Profile Settings</h4>
              </div>
              <div class="row mt-2">
                  <div class="col-md-6"><label class="labels">First Name</label><span> </span></div>
                  <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" value="" placeholder="surname"></div>
              </div>
              <div class="row mt-3">
                  <div class="col-md-12"><label class="labels">PhoneNumber</label><input type="text" class="form-control" placeholder="enter phone number" value=""></div>
                  <div class="col-md-12"><label class="labels">Address</label><input type="text" class="form-control" placeholder="enter address" value=""></div>
                  <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="enter email id" value=""></div>
                  <div class="col-md-12"><label class="labels">Education</label><input type="text" class="form-control" placeholder="education" value=""></div>
              </div>
              <div class="row mt-3">
                  <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                  <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
              </div>
              <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
              <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
              <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
          </div>
      </div>
  </div>
</div>
