<div>
    
    <!-- Please fix style of this table -->
    <table>
        <thead>
            <th>  picture      </th>
            <th>  name     </th>
            <th>  available     </th>
            <th>  unit price      </th>
            <th>  quantity      </th>
            <th>  remove?      </th>
        </thead>
        <tbody>
            <tr *ngFor='let ps of product'>
                <td><img [src]="ps.image"/></td>
                <td>{{ps.name}}</td>
                <td>{{ps.available_quantity}}</td>
                <td>{{ps.price}}</td>
                <!-- I have a propert called quantity_to_purchase in cart.component.ts-->
                <!-- i want to asign to that propert what is in text box when I click the button-->
                <td><input  type="number" id = "quantity"/></td>
                <td><input  type="button" (click) = "remove(ps.id1)"/>remove</td>
               
              
            </tr>
    
        </tbody>
      </table>
      <button >check out</button>
</div>
