<div>
    <!-- Please fix style of this table -->
    <table>
        <thead>
            <th>  picture      </th>
            <th>  name     </th>
            <th>  available     </th>
            <th>  unit price      </th>
            <th>  quantity      </th>
            <th>  remove?      </th>
        </thead>
        <tbody>
            <tr *ngFor='let ps of product'>
                <td><img [src]="ps.image"/></td>
                <td>{{ps.name}}</td>
                <td>{{ps.available_quantity}}</td>
                <td>{{ps.price}}</td>
                <!-- I have a propert called quantity_to_purchase in cart.component.ts-->
                <!-- i want to asign to that propert what is in text box when I click the button-->
                <td><input type="text" name="quantity_to_purchase" #quantity_to_purchase/></td>
                <td><button (click)="remove(2)">remove</button></td>
              
            </tr>
    
        </tbody>
      </table>
      <button (click)='checout()'>check out</button>
</div>
