<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<footer class="footer-area">
    <div class="footer-wave-box">
        <div class="footer-wave footer-animation"></div>

    </div>
    <div class="main">

        <div class="footer">
            <div class="single-footer">
                <h4>About Us</h4>
                <p>Whether you’re at Dante to drink a negroni via a porrón — the infamous Spanish drinking vessel — or to converse over a
                few afternoon spritzes’ with friends, Dante’s two West Village locations are a must-visit in New York City. Rated the
                world’s best bar in 2019</p>
                <div class="footer-social">
                <a href="https://www.facebook.com/" ><i class="fa fa-facebook"></i></a>
                <a href="https://www.google.com/" ><i class="fa fa-google"></i></a>
                <a href="https://www.linkedin.com/" ><i class="fa fa-linkedin"></i></a>
                <a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                </div> 
            </div>
            <div class="single-footer">
                <ul>
                <h4>Main Menu</h4>
                <li>
                <a href="#"><i class="fa fa-chevron-right"></i>HOME</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-chevron-right"></i>CONTACT US</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-chevron-right"></i>ALE</a>
                </li>
                 <li>
                    <a href="#"><i class="fa fa-chevron-right"></i>STOUTS</a>
                </li>
                </ul>
             </div>

                        <div class="single-footer">
                            <ul>
                            <h4>QUCIK LINKS</h4>
                            
                            <li>
                                <a href="#"><i class="fa fa-chevron-right"></i>PRIVACY POLICY</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-chevron-right"></i>TERMS & CONDITIONS</a>
                            </li>
                            </ul>
                         </div>

                <div class="single-footer">
                    <ul>
                    <h4>CONTACT US</h4>
                    
                    <li>
                        <a href="#"><i class="fa fa-map-marker"></i>7918 Railroad St.
                         VA 22030</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-mobile-phone"></i>214-203-5716</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-envelope"></i>Inc@gmail.com</a>
                    </li>
                    </ul>
                </div>

        </div>
        <div class="copy">
            <p>&copy; 2020 all rights reserved</p>
        </div>
    </div>
</footer>