.border {
    border-style:double;
    padding: .5em;
    background-color: rgb(199, 192, 192);
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.button {
    background-color: blue; /* Green */
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
  }

.button1 {border-radius: 50%;}