
<img src="../assets/beerdisplay.jpg">
<div class="blur">

<div id="text">
<br>
<br>
    <div>
    <div id="loginRow" class="row">
        <h4 align="center">Please Enter your Credentials</h4>
        <div align="center">
            <input type="text" [(ngModel)] = "username" placeholder="Enter Username" style="width: 30%;">
        <div align="center">
            <input type="PASSWORD" [(ngModel)] = "password" placeholder="Enter Password" style="width: 30%;" >
        </div>
        <div align="center">
            <button (click)="login()" class="btn btn-primary col-sm-2" ><b>Login</b></button>
        </div>
    </div>
    </div>


    <br />
    <br />
    <div align="right">
    <!-- <button (click)="" class="btn btn-success col-sm-1"><b>Register</b></button></div> -->
</div>
</div>
