<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="bg-color">
    <div class="containers">
        <div class="title">
            <p>The Beer Best Seller</p>
            <h1><span>Enchanted</span> Beer</h1>

        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount"> 10%</div>
                        <div class="label label-green">Pre-Order</div>
                        <div class="product-container">
                            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/budlight.png"
                                    alt="Ale" /></div>
                            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/modena.png"
                                    alt="Stout" /></div>

                        </div>
                        <div class="image">
                            <img src="{{url}}" alt="image" />
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""> <i class="fa fa-shopping-basket"></i></a> </li>
                                <li><a href=""> <i class="fa fa-heart"></i></a> </li>
                                <li><a href=""> <i class="fa fa-search"></i></a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="">BudLight Beer</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="old-price">$86.00</span></p>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount"> 10%</div>
                        <div class="label label-green">Pre-Order</div>
                        <div class="product-container">
                            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/budlight.png"alt="Ale" /></div>
                            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/modena.png"alt="Stout" /></div>

                        </div>
                        <div class="image">
                            <img src="{{url}}" alt="image" />
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""> <i class="fa fa-shopping-basket"></i></a> </li>
                                <li><a href=""> <i class="fa fa-heart"></i></a> </li>
                                <li><a href=""> <i class="fa fa-search"></i></a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="">BudLight Beer</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="old-price">$86.00</span></p>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount"> 10%</div>
                        <div class="label label-green">Pre-Order</div>
                        <div class="product-container">
                            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/budlight.png" alt="Ale" /></div>
                            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/modena.png" alt="Stout" /></div>

                        </div>
                        <div class="image">
                            <img src="{{url}}" alt="image" />
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""> <i class="fa fa-shopping-basket"></i></a> </li>
                                <li><a href=""> <i class="fa fa-heart"></i></a> </li>
                                <li><a href=""> <i class="fa fa-search"></i></a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="">BudLight Beer</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="old-price">$86.00</span></p>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount"> 10%</div>
                        <div class="label label-green">Pre-Order</div>
                        <div class="product-container">
                            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/budlight.png"alt="Ale" /></div>
                            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/modena.png"alt="Stout" /></div>

                        </div>
                        <div class="image">
                            <img src="{{url}}" alt="image" />
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""> <i class="fa fa-shopping-basket"></i></a> </li>
                                <li><a href=""> <i class="fa fa-heart"></i></a> </li>
                                <li><a href=""> <i class="fa fa-search"></i></a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="">BudLight Beer</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="old-price">$86.00</span></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
