<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Burs Beers</a>
    <!-- Justify Navbar -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" >
            <a class="nav-link" routerLink="">Home</a>
        </li>  
        <li class="nav-item" >
            <a class="nav-link" >Categories</a> <!-- Dropdown: May need jQuery/popper.js to work-->
        </li>  
        <li class="nav-item" >
            <a class="nav-link" routerLink="profile">Login</a>
        </li>  
        <li class="nav-item" >
            <a class="nav-link" routerLink="cart">Cart</a> <!--Favicon needs to be installed cart icon-->
        </li>  
    </ul>




</nav>


