<nav class="navbar navbar-dark bg-dark navbar-expand-lg">

    <div class = "container-fluid d-flex justify-content-between">

     

            <ul class = "navbar-nav">
                <li class = "navbar-item">
                    <img src="../assets/beer.jpg" height=50>
                    <a class = "navbar-brand"> Burs Beers</a>
                    
                </li>
                <li class = "navbar-item">
                    <a class="nav-link" routerLink="home">Home</a>
                </li>
                <li class = "navbar-item">
                    <a class = "nav-link" routerLink="ale">Ale</a>
                </li>
                <li class = "navbar-item">
                    <a class = "nav-link" routerLink="stout">Stout</a>
                </li>

            </ul>
     

    </div>


</nav>